
.home{
    text-align: center;
    font-size: 48px;
    padding-top: 65px;
    padding-bottom: 45px;
}
input, textarea[name='content']{
    margin-bottom: 20px;
}
label{
    margin-top: 40px;
}

.task{
    margin-bottom: 20px;
    padding: 20px;
    box-shadow: 1px 1px 3px;
    border: 0.5px solid #ccc;
    border-radius: 30px;
    width: 100%;
    display: grid;
    grid-template-columns: 100px 1fr 2fr 90px 90px 90px;
    grid-template-rows: 24px;
    flex-wrap: nowrap;
    gap: 7px;
    
}
.task-example{
 font-weight: bold;
}

.task a{
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 10px;
}

.but{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}






.show{
    background-color: peru;
}
.add{
    background-color: green;
    height: 60px;
    width: 100px;
}
.edit{
    background-color: yellow;
}
.delete{
    background-color: red;
}